Andre Shields <v-anshie@microsoft.com>
Chris Gilbert <v-chgilb@microsoft.com>
Darío Hereñú <magallania@gmail.com>
Eammon Hanlon <eahanl@microsoft.com> <eammon.hanlon@microsoft.com>
Eammon Hanlon  <eahanl@microsoft.com> <eammon.hanlon@gmail.com>
Eammon Hanlon <eahanl@microsoft.com> <ehanlon@users.noreply.github.com>
Eammon Hanlon <eahanl@microsoft.com> <eammon.hanlon@outlook.com>
Eric Hanko <v-erhank@microsoft.com> <eric.hanko1@gmail.com>
Jacob Zaval <jazava@microsoft.com>
Mark John Merin <v-mamer@microsoft.com> <33106688+mjmerin@users.noreply.github.com>
Ryan Dominguez <v-rydom@microsoft.com>
