<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleLanguages</key>
	<array>
		<string>en</string>
	</array>
	<key>AppleLocale</key>
	<string>en_US</string>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<true/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<true/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Bing</string>
			<key>NSProviderIdentifier</key>
			<string>com.bing.www</string>
		</dict>
	</dict>
	<key>NSUserDictionaryReplacementItems</key>
	<array/>
	<key>WebAutomaticSpellingCorrectionEnabled</key>
	<true/>
	<key>com.apple.ink.framework</key>
	<dict>
		<key>backgroundOpacity</key>
		<real>0.80000000000000004</real>
		<key>endOfPhraseTimeout</key>
		<real>1.125</real>
		<key>gesturesEnabled</key>
		<integer>-1</integer>
		<key>gesturesTargeted</key>
		<integer>0</integer>
		<key>inkBarVisible</key>
		<true/>
		<key>inkMenuVisible</key>
		<false/>
		<key>inkPadEraserWidthMax</key>
		<real>5</real>
		<key>inkPadEraserWidthMin</key>
		<real>2</real>
		<key>inkPadFont</key>
		<integer>0</integer>
		<key>inkPadFrameSketchForPaste</key>
		<false/>
		<key>inkPadInputMode</key>
		<integer>1952807028</integer>
		<key>inkPadPenBrightMax</key>
		<real>1</real>
		<key>inkPadPenBrightMin</key>
		<real>0.01</real>
		<key>inkPadPenWidthMax</key>
		<real>3</real>
		<key>inkPadPenWidthMin</key>
		<real>1</real>
		<key>inkPadRect</key>
		<dict>
			<key>bottom</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inkPadSketchBackColor</key>
		<dict>
			<key>b</key>
			<real>1</real>
			<key>g</key>
			<real>1</real>
			<key>r</key>
			<real>1</real>
		</dict>
		<key>inkPadSketchBackColorForPaste</key>
		<dict>
			<key>b</key>
			<real>1</real>
			<key>g</key>
			<real>1</real>
			<key>r</key>
			<real>1</real>
		</dict>
		<key>inkPadSketchBorder</key>
		<integer>4</integer>
		<key>inkPadSketchLinecolor</key>
		<dict>
			<key>b</key>
			<real>0.93000000000000005</real>
			<key>g</key>
			<real>0.88</real>
			<key>r</key>
			<real>0.84999999999999998</real>
		</dict>
		<key>inkPadTextBackColor</key>
		<dict>
			<key>b</key>
			<real>1</real>
			<key>g</key>
			<real>1</real>
			<key>r</key>
			<real>1</real>
		</dict>
		<key>inkPadTextLineColor</key>
		<dict>
			<key>b</key>
			<real>0.95999999999999996</real>
			<key>g</key>
			<real>0.82999999999999996</real>
			<key>r</key>
			<real>0.63</real>
		</dict>
		<key>inkPadToolBackColor</key>
		<dict>
			<key>b</key>
			<real>0.84999999999999998</real>
			<key>g</key>
			<real>0.84999999999999998</real>
			<key>r</key>
			<real>0.84999999999999998</real>
		</dict>
		<key>inkPadUseToolColor</key>
		<true/>
		<key>inkPadVisible</key>
		<false/>
		<key>inkServerPSN</key>
		<dict>
			<key>highLongOfPSN</key>
			<integer>0</integer>
			<key>lowLongOfPSN</key>
			<integer>0</integer>
		</dict>
		<key>inkSounds</key>
		<true/>
		<key>inkWindowVisible</key>
		<true/>
		<key>language</key>
		<integer>0</integer>
		<key>logAPIUse</key>
		<false/>
		<key>logCGInking</key>
		<false/>
		<key>logCoalescing</key>
		<false/>
		<key>logEventDisposition</key>
		<false/>
		<key>logEventProcessed</key>
		<false/>
		<key>logInkEvents</key>
		<false/>
		<key>logInputMethod</key>
		<false/>
		<key>logInstantMouser</key>
		<false/>
		<key>logMouseEvents</key>
		<false/>
		<key>logMoves</key>
		<false/>
		<key>logPhraseModifiers</key>
		<false/>
		<key>logPoints</key>
		<false/>
		<key>logReposts</key>
		<false/>
		<key>logRouteToInkPad</key>
		<false/>
		<key>logServerLaunch</key>
		<false/>
		<key>logStrokeModifiers</key>
		<false/>
		<key>logTabletEvents</key>
		<false/>
		<key>logThisProcess</key>
		<false/>
		<key>logToFile</key>
		<false/>
		<key>logging</key>
		<false/>
		<key>penBrightMax</key>
		<real>0.5</real>
		<key>penBrightMin</key>
		<real>0.0</real>
		<key>penToInkDistance</key>
		<real>6</real>
		<key>penToMouseTimeout</key>
		<real>0.45000000000000001</real>
		<key>penWidthMax</key>
		<real>2</real>
		<key>penWidthMin</key>
		<real>2</real>
		<key>prefsVersion</key>
		<integer>1</integer>
		<key>printPhrases</key>
		<false/>
		<key>printText</key>
		<false/>
		<key>proximityTermination</key>
		<true/>
		<key>recognitionEnabled</key>
		<true/>
		<key>recognizeEuropeanChars</key>
		<false/>
		<key>showCursorInProximity</key>
		<true/>
		<key>showCursorInking</key>
		<true/>
		<key>showCursorOutOfProximity</key>
		<true/>
		<key>userInkOnDemandButtonMask</key>
		<integer>0</integer>
		<key>userInkOnDemandMode</key>
		<integer>0</integer>
		<key>wordSpacing</key>
		<integer>500</integer>
	</dict>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>userMenuExtraStyle</key>
	<integer>1</integer>
</dict>
</plist>
