<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>last-messagetrace-stamp</key>
	<real>486681288.68076402</real>
	<key>mod-count</key>
	<integer>9</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3234639742</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACgAAMAAQAA0UyZ9gAASCsAAAAAAAAA
					iwAAI4kAANAIec8AAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACLAA4AFgAKAFMAYQBmAGEA
					cgBpAC4AYQBwAHAADwAaAAwATQBhAGMAaQBu
					AHQAbwBzAGgAIABIAEQAEgAXQXBwbGljYXRp
					b25zL1NhZmFyaS5hcHAAABMAAS8A//8AAA==
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3547835335</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3547835257</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4058116844</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.Stickies</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACmAAMAAQAA0UyZ9gAASCsAAAAAAAAA
					iwAErEkAANA1Km0AAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACLAA4AGgAMAFMAdABpAGMA
					awBpAGUAcwAuAGEAcABwAA8AGgAMAE0AYQBj
					AGkAbgB0AG8AcwBoACAASABEABIAGUFwcGxp
					Y2F0aW9ucy9TdGlja2llcy5hcHAAABMAAS8A
					//8AAA==
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Stickies.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Stickies</string>
				<key>file-mod-date</key>
				<integer>3493145197</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3547833543</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4058116843</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.ActivityMonitor</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAADMAAMAAQAA0UyZ9gAASCsAAAAAAAAA
					jAAGZwoAANEmv38AAAAACSD//gAAAAAAAAAA
					/////wABAAgAAACMAAAAiwAOACoAFABBAGMA
					dABpAHYAaQB0AHkAIABNAG8AbgBpAHQAbwBy
					AC4AYQBwAHAADwAaAAwATQBhAGMAaQBuAHQA
					bwBzAGgAIABIAEQAEgArQXBwbGljYXRpb25z
					L1V0aWxpdGllcy9BY3Rpdml0eSBNb25pdG9y
					LmFwcAAAEwABLwD//wAA
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Utilities/Activity%20Monitor.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Activity Monitor</string>
				<key>file-mod-date</key>
				<integer>3508977535</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3511458883</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4058116842</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.Console</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACwAAMAAQAA0UyZ9gAASCsAAAAAAAAA
					jAAGeGQAAM+9C9oAAAAACSD//gAAAAAAAAAA
					/////wABAAgAAACMAAAAiwAOABgACwBDAG8A
					bgBzAG8AbABlAC4AYQBwAHAADwAaAAwATQBh
					AGMAaQBuAHQAbwBzAGgAIABIAEQAEgAiQXBw
					bGljYXRpb25zL1V0aWxpdGllcy9Db25zb2xl
					LmFwcAATAAEvAP//AAA=
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Utilities/Console.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Console</string>
				<key>file-mod-date</key>
				<integer>3485273050</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3511458883</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4058116841</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.DiskUtility</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAADAAAMAAQAA0UyZ9gAASCsAAAAAAAAA
					jAAAEBsAANA1MPQAAAAACSD//gAAAAAAAAAA
					/////wABAAgAAACMAAAAiwAOACIAEABEAGkA
					cwBrACAAVQB0AGkAbABpAHQAeQAuAGEAcABw
					AA8AGgAMAE0AYQBjAGkAbgB0AG8AcwBoACAA
					SABEABIAJ0FwcGxpY2F0aW9ucy9VdGlsaXRp
					ZXMvRGlzayBVdGlsaXR5LmFwcAAAEwABLwD/
					/wAA
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Utilities/Disk%20Utility.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Disk Utility</string>
				<key>file-mod-date</key>
				<integer>3493146868</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3511458883</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4058116840</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.Terminal</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAAC0AAMAAQAA0UyZ9gAASCsAAAAAAAAA
					jAAAKrMAANEkI8gAAAAACSD//gAAAAAAAAAA
					/////wABAAgAAACMAAAAiwAOABoADABUAGUA
					cgBtAGkAbgBhAGwALgBhAHAAcAAPABoADABN
					AGEAYwBpAG4AdABvAHMAaAAgAEgARAASACNB
					cHBsaWNhdGlvbnMvVXRpbGl0aWVzL1Rlcm1p
					bmFsLmFwcAAAEwABLwD//wAA
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/Utilities/Terminal.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Terminal</string>
				<key>file-mod-date</key>
				<integer>3508806600</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3511458883</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3234639755</integer>
			<key>tile-data</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAADEAAMAAQAA0UyZ9gAASCsAAAAAAAAA
					iwAEwEQAANBBhn8AAAAACSD//gAAAAAAAAAA
					/////wABAAQAAACLAA4ALgAWAFMAeQBzAHQA
					ZQBtACAAUAByAGUAZgBlAHIAZQBuAGMAZQBz
					AC4AYQBwAHAADwAaAAwATQBhAGMAaQBuAHQA
					bwBzAGgAIABIAEQAEgAjQXBwbGljYXRpb25z
					L1N5c3RlbSBQcmVmZXJlbmNlcy5hcHAAABMA
					AS8A//8AAA==
					</data>
					<key>_CFURLString</key>
					<string>file:///Applications/System%20Preferences.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Preferences</string>
				<key>file-mod-date</key>
				<integer>3547835335</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3547835257</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3234639756</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLAliasData</key>
					<data>
					AAAAAACmAAMAAQAA0UyZ9gAASCsAAAAAAAbD
					xAAGw8cAANFMmsIAAAAACSD//gAAAAAAAAAA
					/////wABAAgABsPEAAKX/AAOABQACQBEAG8A
					dwBuAGwAbwBhAGQAcwAPABoADABNAGEAYwBp
					AG4AdABvAHMAaAAgAEgARAASABVVc2Vycy9h
					ZG1pbi9Eb3dubG9hZHMAABMAAS8AABUAAgAM
					//8AAA==
					</data>
					<key>_CFURLString</key>
					<string>file:///Users/admin/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>3511459749</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>3511459732</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
