<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>favoriteitems</key>
	<dict>
		<key>Controller</key>
		<string>CustomListItems</string>
		<key>CustomListItems</key>
		<array>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.SpecialItemIdentifier</key>
					<string>com.apple.LSSharedFileList.IsMeetingRoom</string>
				</dict>
				<key>Name</key>
				<string>domain-AirDrop</string>
				<key>URL</key>
				<string>nwnode://domain-AirDrop</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACUAAMAAQAA0UyZ9gAASCsAAAAAAAAAAgAAAIsA
				ANAhLjsAAAAACSD//gAAAAAAAAAA/////wABAAAADgAa
				AAwAQQBwAHAAbABpAGMAYQB0AGkAbwBuAHMADwAaAAwA
				TQBhAGMAaQBuAHQAbwBzAGgAIABIAEQAEgAMQXBwbGlj
				YXRpb25zABMAAS8A//8AAA==
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAc3BwYQIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935819120</integer>
				</dict>
				<key>Name</key>
				<string>Applications</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACgAAMAAQAA0UyZ9gAASCsAAAAAAAbDxAAGw9UA
				ANFMmsIAAAAACSD//gAAAAAAAAAA/////wABAAgABsPE
				AAKX/AAOABAABwBEAGUAcwBrAHQAbwBwAA8AGgAMAE0A
				YQBjAGkAbgB0AG8AcwBoACAASABEABIAE1VzZXJzL2Fk
				bWluL0Rlc2t0b3AAABMAAS8AABUAAgAM//8AAA==
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAa3NlZAIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935819892</integer>
				</dict>
				<key>Name</key>
				<string>Desktop</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACmAAMAAQAA0UyZ9gAASCsAAAAAAAbDxAAGw8UA
				ANFMmsIAAAAACSD//gAAAAAAAAAA/////wABAAgABsPE
				AAKX/AAOABQACQBEAG8AYwB1AG0AZQBuAHQAcwAPABoA
				DABNAGEAYwBpAG4AdABvAHMAaAAgAEgARAASABVVc2Vy
				cy9hZG1pbi9Eb2N1bWVudHMAABMAAS8AABUAAgAM//8A
				AA==
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAc2NvZAIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935819875</integer>
				</dict>
				<key>Name</key>
				<string>Documents</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACmAAMAAQAA0UyZ9gAASCsAAAAAAAbDxAAGw8cA
				ANFMmsIAAAAACSD//gAAAAAAAAAA/////wABAAgABsPE
				AAKX/AAOABQACQBEAG8AdwBuAGwAbwBhAGQAcwAPABoA
				DABNAGEAYwBpAG4AdABvAHMAaAAgAEgARAASABVVc2Vy
				cy9hZG1pbi9Eb3dubG9hZHMAABMAAS8AABUAAgAM//8A
				AA==
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAZm53ZAIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935819884</integer>
				</dict>
				<key>Name</key>
				<string>Downloads</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACQAAMAAQAA0UyZ9gAASCsAAAAAAAKX/AAGw8QA
				ANFMn6QAAAAACSD//gAAAAAAAAAA/////wABAAQAApf8
				AA4ADAAFAGEAZABtAGkAbgAPABoADABNAGEAYwBpAG4A
				dABvAHMAaAAgAEgARAASAAtVc2Vycy9hZG1pbgAAEwAB
				LwAAFQACAAz//wAA
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.Binding</key>
					<data>
					ZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAZGxmdQIAAAAAAAAA
					</data>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935820909</integer>
				</dict>
				<key>Name</key>
				<string>admin</string>
			</dict>
		</array>
		<key>CustomListProperties</key>
		<dict>
			<key>com.apple.LSSharedFileList.Restricted.upgraded</key>
			<integer>9027</integer>
		</dict>
	</dict>
	<key>finderprojects</key>
	<dict>
		<key>Controller</key>
		<string>CustomListItems</string>
		<key>CustomListItems</key>
		<array>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>6</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Red</string>
				<key>URL</key>
				<string>x-apple-findertag:Red</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>7</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Orange</string>
				<key>URL</key>
				<string>x-apple-findertag:Orange</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>5</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Yellow</string>
				<key>URL</key>
				<string>x-apple-findertag:Yellow</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>2</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Green</string>
				<key>URL</key>
				<string>x-apple-findertag:Green</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>4</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Blue</string>
				<key>URL</key>
				<string>x-apple-findertag:Blue</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>3</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Purple</string>
				<key>URL</key>
				<string>x-apple-findertag:Purple</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemLabel</key>
					<integer>1</integer>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Gray</string>
				<key>URL</key>
				<string>x-apple-findertag:Gray</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
					<key>kLSSharedTagFileListItemShowing</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Work</string>
				<key>URL</key>
				<string>x-apple-findertag:Work</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
					<key>kLSSharedTagFileListItemShowing</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Home</string>
				<key>URL</key>
				<string>x-apple-findertag:Home</string>
			</dict>
			<dict>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.ItemIsHidden</key>
					<false/>
					<key>kLSSharedTagFileListItemPinned</key>
					<false/>
					<key>kLSSharedTagFileListItemShowing</key>
					<false/>
				</dict>
				<key>Name</key>
				<string>Important</string>
				<key>URL</key>
				<string>x-apple-findertag:Important</string>
			</dict>
		</array>
		<key>CustomListProperties</key>
		<dict>
			<key>Version</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>networkbrowser</key>
	<dict>
		<key>Controller</key>
		<string>CustomListItems</string>
		<key>CustomListItems</key>
		<array/>
		<key>CustomListProperties</key>
		<dict>
			<key>com.apple.NetworkBrowser.backToMyMacEnabled</key>
			<false/>
			<key>com.apple.NetworkBrowser.bonjourEnabled</key>
			<false/>
		</dict>
	</dict>
	<key>systemitems</key>
	<dict>
		<key>Controller</key>
		<string>VolumesList</string>
		<key>CustomListProperties</key>
		<dict>
			<key>com.apple.LSSharedFileList.VolumesListMigrated</key>
			<true/>
		</dict>
		<key>ShowEjectables</key>
		<true/>
		<key>ShowHardDisks</key>
		<true/>
		<key>ShowRemovable</key>
		<true/>
		<key>ShowServers</key>
		<true/>
		<key>VolumesList</key>
		<array>
			<dict>
				<key>EntryType</key>
				<integer>16</integer>
				<key>Name</key>
				<string>Computer</string>
				<key>SpecialID</key>
				<integer>1919905652</integer>
				<key>Visibility</key>
				<string>NeverVisible</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACIAAMAAQAA0UyZ9gAASCsAAAAAAAAAAQAAAAIA
				ANFMmfYAAAAACSD//gAAAAAAAAAA/////wABAAAADgAa
				AAwATQBhAGMAaQBuAHQAbwBzAGgAIABIAEQADwAaAAwA
				TQBhAGMAaQBuAHQAbwBzAGgAIABIAEQAEgAAABMAAS8A
				//8AAA==
				</data>
				<key>CustomItemProperties</key>
				<dict>
					<key>com.apple.LSSharedFileList.SeenAsBootVolume</key>
					<true/>
					<key>com.apple.LSSharedFileList.TemplateSystemSelector</key>
					<integer>1935821166</integer>
				</dict>
				<key>EntryType</key>
				<integer>261</integer>
				<key>Name</key>
				<string>Macintosh HD</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACGAAMAAQAA0UyZ9gAASCsAAAAAAAAAAgAE86gA
				ANA1F+UAAAAACSD//gAAAAAAAAAA/////wABAAAADgAQ
				AAcATgBlAHQAdwBvAHIAawAPABoADABNAGEAYwBpAG4A
				dABvAHMAaAAgAEgARAASAAdOZXR3b3JrAAATAAEvAP//
				AAA=
				</data>
				<key>EntryType</key>
				<integer>16</integer>
				<key>Name</key>
				<string>Network</string>
				<key>SpecialID</key>
				<integer>1735288180</integer>
				<key>Visibility</key>
				<string>NeverVisible</string>
			</dict>
			<dict>
				<key>Alias</key>
				<data>
				AAAAAACwAAMAAQAA0UVjuQAASCsAAAAFAAAAAQAAAAIA
				ANFFY7kAAAAACQL//gAAAAAAAAAA/////wABAAAADgAi
				ABAATwBTACAAWAAgAEIAYQBzAGUAIABTAHkAcwB0AGUA
				bQAPACIAEABPAFMAIABYACAAQgBhAHMAZQAgAFMAeQBz
				AHQAZQBtABIAAAATABkvVm9sdW1lcy9PUyBYIEJhc2Ug
				U3lzdGVtAP//AAA=
				</data>
				<key>EntryType</key>
				<integer>1027</integer>
				<key>Name</key>
				<string>OS X Base System</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
