<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DesktopViewSettings</key>
	<dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>54</real>
			<key>iconSize</key>
			<real>64</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>DownloadsFolderListViewSettingsVersion</key>
	<integer>1</integer>
	<key>FXArrangeGroupViewBy</key>
	<string>Name</string>
	<key>FXConnectToBounds</key>
	<string>{{269, 401}, {486, 231}}</string>
	<key>FXConnectToLastURL</key>
	<string></string>
	<key>FXDesktopVolumePositions</key>
	<dict>
		<key>Macintosh HD_0x1.ad720f6p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-59</integer>
			<key>yRelative</key>
			<integer>63</integer>
		</dict>
		<key>OS X Base System_0x1.acfeab9p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-59</integer>
			<key>yRelative</key>
			<integer>63</integer>
		</dict>
		<key>Parallels Tools_0x1.ac4990cp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-59</integer>
			<key>yRelative</key>
			<integer>63</integer>
		</dict>
		<key>Recovery HD_0x1.ad72182p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-59</integer>
			<key>yRelative</key>
			<integer>287</integer>
		</dict>
	</dict>
	<key>FXMyDocumentsArrangeGroupViewBy</key>
	<string>Date Last Opened</string>
	<key>FXPreferencesWindow.Location</key>
	<string>{{10, 416}, {352, 319}}</string>
	<key>FXPreferredViewStyle</key>
	<string>clmv</string>
	<key>FXRecentFolders</key>
	<array>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va/QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAA/AEAAAQAAAADAwAAAAIAAAwAAAABAQAAQXBwbGlj
			YXRpb25zCQAAAAEBAABVdGlsaXRpZXMAAAAIAAAAAQYAABAAAAAk
			AAAACAAAAAQDAACLAAAAAAAAAAgAAAAEAwAAjAAAAAAAAAAIAAAA
			AQYAAEgAAABYAAAACAAAAAAEAABBuau1OwAAABgAAAABAgAAAgAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAAAQkAAGZp
			bGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgwcwP
			AAAACAAAAAAEAABButcg9gAAACQAAAABAQAAMjUxRTUzQzctMkQx
			MC0zNTQ1LUJDMDUtOUVEOEEyMTA5QkVDGAAAAAECAACBAAAAAQAI
			AO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAACoAAAAAQIAADAz
			ODlmN2EyODg4ZGFjOTMyNTgxOTUzNjkxNWMzMjZjNmMxMGFjNDc7
			MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20u
			YXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMDAwMDAwMTsw
			MTAwMDAwMjswMDAwMDAwMDAwMDAwMDhjOy9hcHBsaWNhdGlvbnMv
			dXRpbGl0aWVzAMAAAAD+////AQAAAAAAAAAPAAAABBAAADgAAAAA
			AAAABRAAAGgAAAAAAAAAEBAAAIgAAAAAAAAAQBAAAHgAAAAAAAAA
			AiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
			APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACAB
			AAAAAAAAMCAAAKgAAAAAAAAAAdAAAKgAAAAAAAAAENAAAAQAAAAA
			AAAAgPAAAEwBAAAAAAAA
			</data>
			<key>name</key>
			<string>Utilities</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va8ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAyAEAAAQAAAADAwAAAAIAAAwAAAABAQAAQXBwbGlj
			YXRpb25zBAAAAAEGAAAQAAAACAAAAAQDAACLAAAAAAAAAAQAAAAB
			BgAAMAAAAAgAAAAABAAAQbmrtTsAAAAYAAAAAQIAAAIAAAAAAAAA
			DwAAAAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAEJAABmaWxlOi8v
			LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIMHMDwAAAAgA
			AAAABAAAQbrXIPYAAAAkAAAAAQEAADI1MUU1M0M3LTJEMTAtMzU0
			NS1CQzA1LTlFRDhBMjEwOUJFQxgAAAABAgAAgQAAAAEACADvFwAA
			AQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAngAAAAECAABjODgxNWJl
			Mjk4YzAyYjY0ZDAyOTdlYTcwYmVjNTJmZGE1MDVkNzU0OzAwMDAw
			MDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxl
			LmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAw
			MDI7MDAwMDAwMDAwMDAwMDA4YjsvYXBwbGljYXRpb25zAAAAwAAA
			AP7///8BAAAAAAAAAA8AAAAEEAAAJAAAAAAAAAAFEAAAQAAAAAAA
			AAAQEAAAXAAAAAAAAABAEAAATAAAAAAAAAACIAAAFAEAAAAAAAAF
			IAAAhAAAAAAAAAAQIAAAlAAAAAAAAAARIAAAyAAAAAAAAAASIAAA
			qAAAAAAAAAATIAAAuAAAAAAAAAAgIAAA9AAAAAAAAAAwIAAAfAAA
			AAAAAAAB0AAAfAAAAAAAAAAQ0AAABAAAAAAAAACA8AAAIAEAAAAA
			AAA=
			</data>
			<key>name</key>
			<string>Applications</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9vayQDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAACAIAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAFAAAAAQEAAGFkbWluAAAACAAAAAEGAAAQAAAAIAAAAAgAAAAE
			AwAA/JcCAAAAAAAIAAAABAMAAMTDBgAAAAAACAAAAAEGAABAAAAA
			UAAAAAgAAAAABAAAQbrXJqQAAAAYAAAAAQIAAAIAAAAAAAAADwAA
			AAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAQDAAAAAAAAAAAAAAQA
			AAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
			dG9zaCBIRAgAAAAEAwAAACDBzA8AAAAIAAAAAAQAAEG61yD2AAAA
			JAAAAAEBAAAyNTFFNTNDNy0yRDEwLTM1NDUtQkMwNS05RUQ4QTIx
			MDlCRUMYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEA
			AAABAQAALwAAAJ0AAAABAgAAMDdkMjNiNDkyNDdiYWExYmZjMzA5
			M2FmZmJkYjdkYmJhNjc2NjNlYjswMDAwMDAwMDswMDAwMDAwMDsw
			MDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5y
			ZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAwMDAyOzAwMDAwMDAwMDAw
			NmMzYzQ7L3VzZXJzL2FkbWluAAAAAOQAAAD+////AQAAAAAAAAAS
			AAAABBAAADAAAAAAAAAABRAAAGAAAAAAAAAAEBAAAIAAAAAAAAAA
			QBAAAHAAAAAAAAAAAiAAAFQBAAAAAAAABSAAAMQAAAAAAAAAECAA
			ANQAAAAAAAAAESAAAAgBAAAAAAAAEiAAAOgAAAAAAAAAEyAAAPgA
			AAAAAAAAICAAADQBAAAAAAAAMCAAAKAAAAAAAAAAAcAAAKgAAAAA
			AAAAEcAAACAAAAAAAAAAEsAAALgAAAAAAAAAAdAAAKAAAAAAAAAA
			ENAAAAQAAAAAAAAAgPAAAGABAAAAAAAA
			</data>
			<key>name</key>
			<string>admin</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va1gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAPAIAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAFAAAAAQEAAGFkbWluAAAACQAAAAEBAABEb3dubG9hZHMAAAAM
			AAAAAQYAABAAAAAgAAAAMAAAAAgAAAAEAwAA/JcCAAAAAAAIAAAA
			BAMAAMTDBgAAAAAACAAAAAQDAADHwwYAAAAAAAwAAAABBgAAWAAA
			AGgAAAB4AAAACAAAAAAEAABButchwgAAABgAAAABAgAAAgAAAAAA
			AAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAEAAAAA
			AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
			TWFjaW50b3NoIEhECAAAAAQDAAAAIMHMDwAAAAgAAAAABAAAQbrX
			IPYAAAAkAAAAAQEAADI1MUU1M0M3LTJEMTAtMzU0NS1CQzA1LTlF
			RDhBMjEwOUJFQxgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAA
			AAAAAQAAAAEBAAAvAAAApwAAAAECAABhOTc3NGRlNTJkMTgwYjll
			MjhlMjg5NDg5NjdlMjk1MDJhNGE1MTdiOzAwMDAwMDAwOzAwMDAw
			MDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5k
			Ym94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDI7MDAwMDAw
			MDAwMDA2YzNjNzsvdXNlcnMvYWRtaW4vZG93bmxvYWRzAADkAAAA
			/v///wEAAAAAAAAAEgAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAA
			ABAQAACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAACAAQAAAAAAAAUg
			AADwAAAAAAAAABAgAAAAAQAAAAAAABEgAAA0AQAAAAAAABIgAAAU
			AQAAAAAAABMgAAAkAQAAAAAAACAgAABgAQAAAAAAADAgAADMAAAA
			AAAAAAHAAADUAAAAAAAAABHAAAAgAAAAAAAAABLAAADkAAAAAAAA
			AAHQAADMAAAAAAAAABDQAAAEAAAAAAAAAIDwAACMAQAAAAAAAA==
			</data>
			<key>name</key>
			<string>Downloads</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va1gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAPAIAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAFAAAAAQEAAGFkbWluAAAACQAAAAEBAABEb2N1bWVudHMAAAAM
			AAAAAQYAABAAAAAgAAAAMAAAAAgAAAAEAwAA/JcCAAAAAAAIAAAA
			BAMAAMTDBgAAAAAACAAAAAQDAADFwwYAAAAAAAwAAAABBgAAWAAA
			AGgAAAB4AAAACAAAAAAEAABButchwgAAABgAAAABAgAAAgAAAAAA
			AAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAEAAAAA
			AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
			TWFjaW50b3NoIEhECAAAAAQDAAAAIMHMDwAAAAgAAAAABAAAQbrX
			IPYAAAAkAAAAAQEAADI1MUU1M0M3LTJEMTAtMzU0NS1CQzA1LTlF
			RDhBMjEwOUJFQxgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAA
			AAAAAQAAAAEBAAAvAAAApwAAAAECAAA3N2I4ZWY1ZGZiMjJiNmJi
			YzE0NDU2ODlhYjZhOGM4ZTBiNjlmNmM0OzAwMDAwMDAwOzAwMDAw
			MDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5k
			Ym94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDI7MDAwMDAw
			MDAwMDA2YzNjNTsvdXNlcnMvYWRtaW4vZG9jdW1lbnRzAADkAAAA
			/v///wEAAAAAAAAAEgAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAA
			ABAQAACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAACAAQAAAAAAAAUg
			AADwAAAAAAAAABAgAAAAAQAAAAAAABEgAAA0AQAAAAAAABIgAAAU
			AQAAAAAAABMgAAAkAQAAAAAAACAgAABgAQAAAAAAADAgAADMAAAA
			AAAAAAHAAADUAAAAAAAAABHAAAAgAAAAAAAAABLAAADkAAAAAAAA
			AAHQAADMAAAAAAAAABDQAAAEAAAAAAAAAIDwAACMAQAAAAAAAA==
			</data>
			<key>name</key>
			<string>Documents</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va1QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAOAIAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAFAAAAAQEAAGFkbWluAAAABwAAAAEBAABEZXNrdG9wAAwAAAAB
			BgAAEAAAACAAAAAwAAAACAAAAAQDAAD8lwIAAAAAAAgAAAAEAwAA
			xMMGAAAAAAAIAAAABAMAANXDBgAAAAAADAAAAAEGAABUAAAAZAAA
			AHQAAAAIAAAAAAQAAEG61yHCAAAAGAAAAAECAAACAAAAAAAAAA8A
			AAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAQAAAAAAAAAE
			AAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
			bnRvc2ggSEQIAAAABAMAAAAgwcwPAAAACAAAAAAEAABButcg9gAA
			ACQAAAABAQAAMjUxRTUzQzctMkQxMC0zNTQ1LUJDMDUtOUVEOEEy
			MTA5QkVDGAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
			AAAAAQEAAC8AAAClAAAAAQIAAGJhNjNmOWJlYTY0NGJmMWJkMjkx
			Y2IxYjExNjJjYmVlYTA1OTNmOWI7MDAwMDAwMDA7MDAwMDAwMDA7
			MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gu
			cmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwMjswMDAwMDAwMDAw
			MDZjM2Q1Oy91c2Vycy9hZG1pbi9kZXNrdG9wAAAAAOQAAAD+////
			AQAAAAAAAAASAAAABBAAAEAAAAAAAAAABRAAAIQAAAAAAAAAEBAA
			AKgAAAAAAAAAQBAAAJgAAAAAAAAAAiAAAHwBAAAAAAAABSAAAOwA
			AAAAAAAAECAAAPwAAAAAAAAAESAAADABAAAAAAAAEiAAABABAAAA
			AAAAEyAAACABAAAAAAAAICAAAFwBAAAAAAAAMCAAAMgAAAAAAAAA
			AcAAANAAAAAAAAAAEcAAACAAAAAAAAAAEsAAAOAAAAAAAAAAAdAA
			AMgAAAAAAAAAENAAAAQAAAAAAAAAgPAAAIgBAAAAAAAA
			</data>
			<key>name</key>
			<string>Desktop</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va0QEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAATAMAAAQAAAADAwAAAAIAAAYAAAABAQAAU3lzdGVt
			AAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMK
			AAAAAQEAAEZpbmRlci5hcHAAAAgAAAABAQAAQ29udGVudHMJAAAA
			AQEAAFJlc291cmNlcwAAAAsAAAABAQAATXlMaWJyYXJpZXMAGAAA
			AAEBAABteURvY3VtZW50cy5jYW5uZWRTZWFyY2ggAAAAAQYAABAA
			AAAgAAAAMAAAAEQAAABYAAAAaAAAAHwAAACQAAAACAAAAAQDAAAk
			AAAAAAAAAAgAAAAEAwAAJQAAAAAAAAAIAAAABAMAADEAAAAAAAAA
			CAAAAAQDAAAUXAIAAAAAAAgAAAAEAwAAFVwCAAAAAAAIAAAABAMA
			ABpcAgAAAAAACAAAAAQDAAAQXQIAAAAAAAgAAAAEAwAAEV0CAAAA
			AAAgAAAAAQYAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABI
			AQAACAAAAAAEAABBusD7hQAAABgAAAABAgAAAgAAAAAAAAAPAAAA
			AAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
			AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgwcwPAAAACAAAAAAE
			AABButcg9gAAACQAAAABAQAAMjUxRTUzQzctMkQxMC0zNTQ1LUJD
			MDUtOUVEOEEyMTA5QkVDGAAAAAECAACBAAAAAQAIAO8XAAABAAgA
			AAAAAAAAAAABAAAAAQEAAC8AAADwAAAAAQIAADNhNmMzNGExMzIy
			YzlmNzE2MWZjNTAyMGJkNGFhNDQxODg4NDBhZTE7MDAwMDAwMDA7
			MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBw
			LXNhbmRib3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwMjsw
			MDAwMDAwMDAwMDI1ZDExOy9zeXN0ZW0vbGlicmFyeS9jb3Jlc2Vy
			dmljZXMvZmluZGVyLmFwcC9jb250ZW50cy9yZXNvdXJjZXMvbXls
			aWJyYXJpZXMvbXlkb2N1bWVudHMuY2FubmVkc2VhcmNoAMAAAAD+
			////AQAAAAAAAAAPAAAABBAAALAAAAAAAAAABRAAAFgBAAAAAAAA
			EBAAAJABAAAAAAAAQBAAAIABAAAAAAAAAiAAAEgCAAAAAAAABSAA
			ALgBAAAAAAAAECAAAMgBAAAAAAAAESAAAPwBAAAAAAAAEiAAANwB
			AAAAAAAAEyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAALABAAAA
			AAAAAdAAALABAAAAAAAAENAAAAQAAAAAAAAAgPAAAFQCAAAAAAAA
			</data>
			<key>name</key>
			<string>All My Files</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va0AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAASAMAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAPAAAAAQEAAFBhcmFsbGVscyBUb29scwAIAAAAAQYAABAAAAAg
			AAAACAAAAAQDAAAuOAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAIAAAA
			AQYAAEgAAABYAAAACAAAAAAEAABBusSZDAAAABgAAAABAgAACgAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAiAAAAAQkAAGZp
			bGU6Ly8vVm9sdW1lcy9QYXJhbGxlbHMlMjBUb29scy8AAAgAAAAE
			AwAAAECaAQAAAAAkAAAAAQEAADcxMUFCQUY5LUNGODItM0VCRi1B
			MTVGLTI1NDY2Q0Q1QzdCOBgAAAABAgAA6QAAAAEACADvFwAAAQAI
			AAAAAAAAAAAAGAAAAAEBAAAvVm9sdW1lcy9QYXJhbGxlbHMgVG9v
			bHMIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
			AAAABAMAAAAgwcwPAAAACAAAAAAEAABButcg9gAAACQAAAABAQAA
			MjUxRTUzQzctMkQxMC0zNTQ1LUJDMDUtOUVEOEEyMTA5QkVDGAAA
			AAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8A
			AABgAAAA/v///wDwAAAAAAAABwAAAAIgAADoAQAAAAAAAAUgAABY
			AQAAAAAAABAgAABoAQAAAAAAABEgAACcAQAAAAAAABIgAAB8AQAA
			AAAAABMgAACMAQAAAAAAACAgAADIAQAAAAAAAAQAAAADAwAAAPAA
			AAQAAAADAwAAAAAAAAQAAAADAwAAAQAAAAwAAAABBgAAXAIAAGgC
			AAB0AgAAqQAAAAECAAA4YmYyNjQzYjNkNDcxZTRmMjcwNWRkZWEx
			MDMxODE0MWNjNTMwMmFmOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAw
			MDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQt
			d3JpdGU7MDAwMDAwMDE7MDEwMDAwMDY7MDAwMDAwMDAwMDAwMDAw
			Mjsvdm9sdW1lcy9wYXJhbGxlbHMgdG9vbHMAAAAAwAAAAP7///8B
			AAAA9AEAAA8AAAAEEAAAOAAAAAAAAAAFEAAAaAAAAAAAAAAQEAAA
			iAAAAAAAAABAEAAAeAAAAAAAAAAAIAAAgAIAAAAAAAACIAAAOAEA
			AAAAAAAFIAAAsAAAAAAAAAAQIAAAIAAAAAAAAAARIAAA7AAAAAAA
			AAASIAAA3AAAAAAAAAATIAAAeAAAAAAAAAAgIAAAGAEAAAAAAAAB
			0AAAqAAAAAAAAAAQ0AAABAAAAAAAAACA8AAAlAIAAAAAAAA=
			</data>
			<key>name</key>
			<string>Parallels Tools</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va0AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAASAMAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAPAAAAAQEAAFBhcmFsbGVscyBUb29scwAIAAAAAQYAABAAAAAg
			AAAACAAAAAQDAAAuOAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAIAAAA
			AQYAAEgAAABYAAAACAAAAAAEAABBusSZDAAAABgAAAABAgAACgAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAiAAAAAQkAAGZp
			bGU6Ly8vVm9sdW1lcy9QYXJhbGxlbHMlMjBUb29scy8AAAgAAAAE
			AwAAAECaAQAAAAAkAAAAAQEAADcxMUFCQUY5LUNGODItM0VCRi1B
			MTVGLTI1NDY2Q0Q1QzdCOBgAAAABAgAA6QAAAAEACADvFwAAAQAI
			AAAAAAAAAAAAGAAAAAEBAAAvVm9sdW1lcy9QYXJhbGxlbHMgVG9v
			bHMIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
			AAAABAMAAAAgwcwPAAAACAAAAAAEAABButcg9gAAACQAAAABAQAA
			MjUxRTUzQzctMkQxMC0zNTQ1LUJDMDUtOUVEOEEyMTA5QkVDGAAA
			AAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8A
			AABgAAAA/v///wDwAAAAAAAABwAAAAIgAADoAQAAAAAAAAUgAABY
			AQAAAAAAABAgAABoAQAAAAAAABEgAACcAQAAAAAAABIgAAB8AQAA
			AAAAABMgAACMAQAAAAAAACAgAADIAQAAAAAAAAQAAAADAwAAAPAA
			AAQAAAADAwAAAAAAAAQAAAADAwAAAQAAAAwAAAABBgAAXAIAAGgC
			AAB0AgAAqQAAAAECAABmM2FjMDM4ZDhkZWE1MjhhM2IyNGFjNGM2
			OGRiOGFhNmZjZDY2NmM5OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAw
			MDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQt
			d3JpdGU7MDAwMDAwMDE7MDEwMDAwMDU7MDAwMDAwMDAwMDAwMDAw
			Mjsvdm9sdW1lcy9wYXJhbGxlbHMgdG9vbHMAAAAAwAAAAP7///8B
			AAAA9AEAAA8AAAAEEAAAOAAAAAAAAAAFEAAAaAAAAAAAAAAQEAAA
			iAAAAAAAAABAEAAAeAAAAAAAAAAAIAAAgAIAAAAAAAACIAAAOAEA
			AAAAAAAFIAAAsAAAAAAAAAAQIAAAIAAAAAAAAAARIAAA7AAAAAAA
			AAASIAAA3AAAAAAAAAATIAAAeAAAAAAAAAAgIAAAGAEAAAAAAAAB
			0AAAqAAAAAAAAAAQ0AAABAAAAAAAAACA8AAAlAIAAAAAAAA=
			</data>
			<key>name</key>
			<string>Parallels Tools</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va0gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAUAMAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAQAAAAAQEAAE9TIFggQmFzZSBTeXN0ZW0IAAAAAQYAABAAAAAg
			AAAACAAAAAQDAAAuOAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAIAAAA
			AQYAAEgAAABYAAAACAAAAAAEAABBus/quQAAABgAAAABAgAACgAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAnAAAAAQkAAGZp
			bGU6Ly8vVm9sdW1lcy9PUyUyMFglMjBCYXNlJTIwU3lzdGVtLwAI
			AAAABAMAAAAg86IBAAAAJAAAAAEBAAAyRDk4NEZENi1GMDhGLTM1
			NjQtODYwNS0yMzU4MENDODlFRUYYAAAAAQIAAOkAAAABAAgA7xcA
			AAEACAAAAAAAAAAAABkAAAABAQAAL1ZvbHVtZXMvT1MgWCBCYXNl
			IFN5c3RlbQAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
			dG9zaCBIRAgAAAAEAwAAACDBzA8AAAAIAAAAAAQAAEG61yD2AAAA
			JAAAAAEBAAAyNTFFNTNDNy0yRDEwLTM1NDUtQkMwNS05RUQ4QTIx
			MDlCRUMYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEA
			AAABAQAALwAAAGAAAAD+////APAAAAAAAAAHAAAAAiAAAPABAAAA
			AAAABSAAAGABAAAAAAAAECAAAHABAAAAAAAAESAAAKQBAAAAAAAA
			EiAAAIQBAAAAAAAAEyAAAJQBAAAAAAAAICAAANABAAAAAAAABAAA
			AAMDAAAA8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAADAAAAAEG
			AABkAgAAcAIAAHwCAACqAAAAAQIAADNiZmIwMTdmZjJlNWNkYWY1
			NjMyZTY0N2E3YmJkMGY5Y2ZkMjdiZTM7MDAwMDAwMDA7MDAwMDAw
			MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRi
			b3gucmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwNjswMDAwMDAw
			MDAwMDAwMDAyOy92b2x1bWVzL29zIHggYmFzZSBzeXN0ZW0AAADA
			AAAA/v///wEAAAD8AQAADwAAAAQQAAA4AAAAAAAAAAUQAABoAAAA
			AAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAAgAACIAgAAAAAA
			AAIgAAA8AQAAAAAAAAUgAACwAAAAAAAAABAgAAAgAAAAAAAAABEg
			AADwAAAAAAAAABIgAADgAAAAAAAAABMgAAB4AAAAAAAAACAgAAAc
			AQAAAAAAAAHQAACoAAAAAAAAABDQAAAEAAAAAAAAAIDwAACcAgAA
			AAAAAA==
			</data>
			<key>name</key>
			<string>OS X Base System</string>
		</dict>
	</array>
	<key>FXSidebarUpgradedToTenTen</key>
	<true/>
	<key>FXToolbarUpgradedToTenEight</key>
	<integer>1</integer>
	<key>FXToolbarUpgradedToTenNine</key>
	<integer>2</integer>
	<key>FXToolbarUpgradedToTenSeven</key>
	<integer>1</integer>
	<key>FavoriteTagNames</key>
	<array>
		<string></string>
		<string>Red</string>
		<string>Orange</string>
		<string>Yellow</string>
		<string>Green</string>
		<string>Blue</string>
		<string>Purple</string>
		<string>Gray</string>
	</array>
	<key>LastTrashState</key>
	<false/>
	<key>MyDocsLibrarySavedViewStyle</key>
	<string>clmv</string>
	<key>MyDocsLibrarySavedViewStyleVersion</key>
	<string>%00%00%00%01</string>
	<key>MyDocsLibrarySearchViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>PreviewPaneVisibility</key>
			<false/>
			<key>ShowPathbar</key>
			<false/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>SidebarWidth</key>
			<integer>192</integer>
			<key>WindowBounds</key>
			<string>{{127, 246}, {770, 437}}</string>
		</dict>
	</dict>
	<key>NSToolbar Configuration Browser</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NewWindowTarget</key>
	<string>PfHm</string>
	<key>NewWindowTargetPath</key>
	<string>file:///Users/admin/</string>
	<key>PreferencesWindow.LastSelection</key>
	<string>GNRL</string>
	<key>ShowExternalHardDrivesOnDesktop</key>
	<true/>
	<key>ShowHardDrivesOnDesktop</key>
	<true/>
	<key>ShowMountedServersOnDesktop</key>
	<true/>
	<key>ShowRecentTags</key>
	<false/>
	<key>ShowRemovableMediaOnDesktop</key>
	<true/>
	<key>StandardViewOptions</key>
	<dict>
		<key>ColumnViewOptions</key>
		<dict>
			<key>ArrangeBy</key>
			<string>dnam</string>
			<key>ColumnShowFolderArrow</key>
			<true/>
			<key>ColumnShowIcons</key>
			<true/>
			<key>ColumnWidth</key>
			<integer>205</integer>
			<key>FontSize</key>
			<integer>13</integer>
			<key>PreviewDisclosureState</key>
			<true/>
			<key>SharedArrangeBy</key>
			<string>kipl</string>
			<key>ShowIconThumbnails</key>
			<true/>
			<key>ShowPreview</key>
			<true/>
		</dict>
	</dict>
	<key>StandardViewSettings</key>
	<dict>
		<key>ExtendedListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<real>16</real>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<real>12</real>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>54</real>
			<key>iconSize</key>
			<real>64</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<real>16</real>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<real>12</real>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>SettingsType</key>
		<string>StandardViewSettings</string>
	</dict>
	<key>ViewOptionsWindow.Location</key>
	<string>{735, 186}</string>
</dict>
</plist>
