<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Window Settings</key>
	<string>Homebrew</string>
	<key>HasMigratedDefaults</key>
	<true/>
	<key>Man Page Window Settings</key>
	<string>Man Page</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>310 216 231 235 0 0 1920 1057 </string>
	<key>NSWindow Frame TTAppPreferences</key>
	<string>423 316 650 487 0 0 1920 1057 </string>
	<key>NSWindow Frame TTWindow</key>
	<string>6 89 1291 968 0 0 1920 1057 </string>
	<key>NSWindow Frame TTWindow Basic</key>
	<string>89 384 585 366 0 0 1280 1001 </string>
	<key>NSWindow Frame TTWindow Homebrew</key>
	<string>6 89 1291 968 0 0 1920 1057 </string>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>SecureKeyboardEntry</key>
	<false/>
	<key>Startup Window Settings</key>
	<string>Homebrew</string>
	<key>Window Settings</key>
	<dict>
		<key>Basic</key>
		<dict>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>name</key>
			<string>Basic</string>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Grass</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECAwLjA3NDUwOTgwNyAwLjQ2
			NjY2NjcgMC4yMzkyMTU3ABACgALSEBESE1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJj
			aGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYoWHiY6ZoqqttsjL
			0AAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADS
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBgwLjU1Njg2Mjc3IDAuMTU2
			ODYyNzUgMAAQAoAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dO
			U0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcY
			VHJvb3SAAQgRGiMtMjc7QUhOW2J9f4GGkZqipa7Aw8gAAAAAAAAB
			AQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCA
			AoADV0NvdXJpZXLSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzVk5T
			Rm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEaG1Ry
			b290gAEIERojLTI3PEJLUltiaXJ0dniAhZCZoKOsvsHGAAAAAAAA
			AQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjcxMzcyNTUxIDAuMjg2
			Mjc0NTIgMC4xNDkwMTk2MQAQAoAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBcxIDAuNjkwMTk2MSAwLjIz
			MTM3MjU3ABACgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhU
			cm9vdIABCBEaIy0yNztBSE5bYnx+gIWQmaGkrb/CxwAAAAAAAAEB
			AAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBgxIDAuOTQxMTc2NTMgMC42
			NDcwNTg4NAAQAoAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dO
			U0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcY
			VHJvb3SAAQgRGiMtMjc7QUhOW2J9f4GGkZqipa7Aw8gAAAAAAAAB
			AQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>name</key>
			<string>Grass</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Homebrew</key>
		<dict>
			<key>BackgroundBlur</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0cwIDAuNzUAEAOAAtIQERIT
			WiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVj
			dF8QD05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FI
			UF1kbG5wdYCJkZSdr7K3AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAA
			AAAAAAAAALk=
			</data>
			<key>CursorBlink</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjIxOTYwNzg2IDAuOTk2
			MDc4NDkgMC4xNTI5NDExOAAQAoAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCA
			AoADWkFuZGFsZU1vbm/SExQVFlokY2xhc3NuYW1lWCRjbGFzc2Vz
			Vk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEa
			G1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniDiJOco6avwcTJAAAA
			AAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMs=
			</data>
			<key>FontAntialias</key>
			<false/>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEB4wLjAzNDU3ODM5NSAwIDAu
			OTEzMjY1MzEgMC42NQAQAYAC0hAREhNaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
			dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KDhYeMl6Coq7TGyc4A
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NGMCAxIDAAEAGAAtIQERITWiRj
			bGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8Q
			D05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITlti
			aWttcn2GjpGarK+0AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECIwLjE1Njg2Mjc1IDAuOTk2
			MDc4NDkgMC4wNzg0MzEzNzUAEAKAAtIQERITWiRjbGFzc25hbWVY
			JGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRB
			cmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITltih4mLkJukrK+4
			ys3SAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAANQ=
			</data>
			<key>name</key>
			<string>Homebrew</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Man Page</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECYwLjk5NjA3ODQ5MTIgMC45
			NTY4NjI4MDczIDAuNjExNzY0NzI5ABACgALSEBESE1okY2xhc3Nu
			YW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYouNj5Sf
			qLCzvM7R1gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>name</key>
			<string>Man Page</string>
			<key>rowCount</key>
			<integer>48</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Novel</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBowLjg3NSAwLjg1Nzk4MzY1
			IDAuNzY1NjI1ABACgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2Vz
			V05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
			FxhUcm9vdIABCBEaIy0yNztBSE5bYn+Bg4iTnKSnsMLFygAAAAAA
			AAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADM
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECowLjIyNzQ1MSAwLjEzNzI1
			NDkxIDAuMTMzMzMzMzQgMC42NDk5OTk5OAAQAoAC0hAREhNaJGNs
			YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAP
			TlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KP
			kZOYo6y0t8DS1doAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAA
			AAAA3A==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCA
			AoADV0NvdXJpZXLSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzVk5T
			Rm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEaG1Ry
			b290gAEIERojLTI3PEJLUltiaXJ0dniAhZCZoKOsvsHGAAAAAAAA
			AQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECwwLjQ1NDA4MTY1IDAuNDUx
			MDA0ODkgMC4zMTUxNDM5MSAwLjc1OTk5OTk5ABABgALSEBESE1ok
			Y2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5b
			YpGTlZqlrra5wtTX3AAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADe
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBswLjUgMC4xNjQzMDA1NSAw
			LjA5OTE0NTQ3MgAQAYAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nl
			c1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy
			0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KAgoSJlJ2lqLHDxssAAAAA
			AAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAzQ==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjIzMzE3MzEyIDAuMTM1
			NDA4NTcgMC4xMzI5MDYwOAAQAYAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>name</key>
			<string>Novel</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Ocean</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjEzMjA1NjI0IDAuMzA4
			NDc4NTYgMC43MzkxMzA0NAAQAYAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBcwLjEzMDczOTMgMC40Mjg0
			NTgwNiAxABABgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhU
			cm9vdIABCBEaIy0yNztBSE5bYnx+gIWQmaGkrb/CxwAAAAAAAAEB
			AAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>fontAllowsDisableAntialias</key>
			<integer>0</integer>
			<key>name</key>
			<string>Ocean</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Pro</key>
		<dict>
			<key>BackgroundBlur</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc00wIDAuODUwMDAwMDIAEAOA
			AtIQERITWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhO
			U09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERoj
			LTI3O0FIUF1kcnR2e4aPl5qjtbi9AAAAAAAAAQEAAAAAAAAAGQAA
			AAAAAAAAAAAAAAAAAL8=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0swLjMwMjQxOTM2ABADgALS
			EBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
			YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0y
			NztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AkAAAAAAAAEBCA
			AoADVk1vbmFjb9ITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNG
			b250ohUXWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RobVHJv
			b3SAAQgRGiMtMjc8QktSW2JpcnR2eH+Ej5ifoqu9wMUAAAAAAAAB
			AQAAAAAAAAAcAAAAAAAAAAAAAAAAAAAAxw==
			</data>
			<key>FontAntialias</key>
			<false/>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0swLjI1NDAzMjI1ABADgALS
			EBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
			YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0y
			NztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0swLjk0NzU4MDY0ABADgALS
			EBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
			YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0y
			NztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>name</key>
			<string>Pro</string>
			<key>shellExitAction</key>
			<integer>2</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Red Sands</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECwwLjQ3ODI2MDg3IDAuMTQ1
			MTA0MzYgMC4xMTY4ODEyMSAwLjg1MDAwMDAyABABgALSEBESE1ok
			Y2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5b
			YpGTlZqlrra5wtTX3AAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADe
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>CursorType</key>
			<integer>1</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECMwLjIzNzkwMzIxIDAuMDk3
			NjAxMzM5IDAuMDg3NDM0NTIzABACgALSEBESE1okY2xhc3NuYW1l
			WCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVk
			QXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYoiKjJGcpa2w
			ucvO0wAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADV
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBwwLjg3NSAwLjc0MDM4ODQ1
			IDAuMTMyMTM4NzMAEAGAAtIQERITWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEXGFRyb290gAEIERojLTI3O0FITltigYOFipWepqmyxMfMAAAA
			AAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjg0MzEzNzMyIDAuNzg4
			MjM1MzcgMC42NTQ5MDE5OAAQAoAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>fontAllowsDisableAntialias</key>
			<integer>0</integer>
			<key>name</key>
			<string>Red Sands</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Silver Aerogel</key>
		<dict>
			<key>BackgroundAlphaInactive</key>
			<real>0.5</real>
			<key>BackgroundBlur</key>
			<real>1</real>
			<key>BackgroundBlurInactive</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdO
			U1doaXRlXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFj
			ZVYkY2xhc3NIMC41IDAuNQAQA4ACgATSEgwTFFROU0lEEAKAA9IW
			FxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohob
			XE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtf
			EA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABAAgAEQAaACMALQAy
			ADcAPQBDAEwAVABhAHYAfQCGAIgAigCMAJEAlgCYAJoAnwCqALMA
			wADDANAA2QDeAOYA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAA
			AAAAAAAAAAAAAAEF
			</data>
			<key>BackgroundSettingsForInactiveWindows</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0UwLjg1ABADgALSEBESE1ok
			Y2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBd
			ZGpsbnN+h4+Sm62wtQAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAAC3
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECQwLjM5NDQzMDA3MTEgMC4z
			OTk2NDY2OTk0IDAuNTQwNDI4NAAQAYAC0hAREhNaJGNsYXNzbmFt
			ZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXll
			ZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KJi42Snaau
			sbrMz9QAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA1g==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdO
			U1doaXRlXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFj
			ZVYkY2xhc3NCMQAQA4ACgATSEgwTFFROU0lEEAKAA9IWFxgZWiRj
			bGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29s
			b3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tl
			eWVkQXJjaGl2ZXLRISJUcm9vdIABCBEaIy0yNz1DTFRhdn2AgoSG
			i5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAjAAAAAAAA
			AAAAAAAAAAAA/w==
			</data>
			<key>name</key>
			<string>Silver Aerogel</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Solid Colors</key>
		<dict>
			<key>BackgroundImageBookmark</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFdOUy5kYXRh
			ViRjbGFzc08RAehib29r6AEAAAAAARAQAAAATAEAAAcAAAABAQAA
			TGlicmFyeQAQAAAAAQEAAERlc2t0b3AgUGljdHVyZXMMAAAAAQEA
			AFNvbGlkIENvbG9ycwwAAAABBgAABAAAABQAAAAsAAAACAAAAAQD
			AAAtgDYDAAAAAAgAAAAEAwAA2tM4AwAAAAAIAAAABAMAAJfUOAMA
			AAAADAAAAAEGAABUAAAAZAAAAHQAAAAYAAAAAQIAAAIAAAAAAAAA
			DwAAAAAAAAAAAAAAAAAAAAwAAAABAQAATWFjaW50b3NoIEhECAAA
			AAQDAAAAAAAACgAAAAgAAAAABAAAQbAnRXIAAAAkAAAAAQEAADM1
			OTAxRjRELUQ1RTUtM0E5OC1CODAzLTc3MEM0NUE5RDA2QxgAAAAB
			AgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAA
			AAAAAAEFAACEAAAA/v///wEAAAAAAAAACgAAAAQQAABAAAAAAAAA
			AAUQAACEAAAAAAAAABAQAACYAAAAAAAAAAIgAAA4AQAAAAAAABAg
			AAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADc
			AAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAAIAC0g4PEBFa
			JGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoxASE1ZO
			U0RhdGFYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdUcm9v
			dIABAAgAEQAaACMALQAyADcAOwBBAEYATgBVAkECQwJIAlMCXAJq
			Am4CdQJ+ApACkwKYAAAAAAAAAgEAAAAAAAAAGAAAAAAAAAAAAAAA
			AAAAApo=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdO
			U1doaXRlXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFj
			ZVYkY2xhc3NFMC43NQAQA4ACgATSEgwTFFROU0lEEAKAA9IWFxgZ
			WiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5T
			Q29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9O
			U0tleWVkQXJjaGl2ZXLRISJUcm9vdIABAAgAEQAaACMALQAyADcA
			PQBDAEwAVABhAHYAfQCDAIUAhwCJAI4AkwCVAJcAnACnALAAvQDA
			AM0A1gDbAOMA5gD4APsBAAAAAAAAAAIBAAAAAAAAACMAAAAAAAAA
			AAAAAAAAAAEC
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.04</real>
			<key>name</key>
			<string>Solid Colors</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
	</dict>
</dict>
</plist>
